.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.board-card__icon {
  font-size: 1.5rem;
  color: #593bce;
  padding: 0.5rem;
  background-color: #eeebfa;
  border-radius: 0.5rem;
}

.board-card {
  cursor: pointer;
  height: min-content;
}

.board-card__header {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.board-card__progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.875rem;
}

.board-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}
