.modal-objective-form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.modal-objective-action {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-objective-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.modal-objective-header h1{
  font-size: 1.5rem;
}
