.objective-overview {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.objective-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.objective-main {
  margin-top: 1rem;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 1fr);

  gap: 2rem;
  flex: 1;
  min-height: 0;
}

.objective-sub-objectives, .objective-tasks {
  display: flex;
  flex-direction: column;
}

.objective-sub-objectives li, .objective-tasks li {
  margin: 0.5rem;
  padding: 0.3rem;
}

.objective-sub-objectives li{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.objective-tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objective-tasks li div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.objective-main-coach {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.objective-sub-objectives-empty, .objective-tasks-empty {
  text-align: center;
  font-style: italic;
  padding: 1rem;
}
