@if (objectiveOverview(); as objective) {
  <div class="objective-overview">

    <header>
      <div class="objective-header__title">
        <h1>{{ objective.title }}</h1>
        <p>{{ objective.description }}</p>
      </div>
    </header>

    <main class="objective-main">
      <div class="objective-main-objective">
        <div class="objective-main-header">
          <h3>Sous-objectifs</h3>
          <p-button size="small" variant="text" (click)="displayAddSubObjective.set(!displayAddSubObjective())">Ajouter</p-button>
        </div>
        @if (displayAddSubObjective()) {
          <app-add-sub-objective [objectiveId]="id()" (abort)="displayAddSubObjective.set(false)"/>
        }
        <p-dataview #dv [value]="objective.subObjectives">
          <ng-template #list let-items>
            <ul class="objective-sub-objectives">
              @for (item of items; track $index) {
                <li>
                  <div>
                    <p-checkbox [ngModel]="item.done" [readonly]="true" [binary]="true" />
                  </div>
                  <div class="objective-sub-objective-title-and-description">
                    <span (click)="editSubObjective(item.id)" class="objective-sub-objective-title">{{ item.title }}</span>
                    <p class="objective-sub-objective-description"> {{item.description}} </p>
                  </div>
                </li>
              }
            </ul>
          </ng-template>
          <ng-template #emptymessage>
            <p class="objective-sub-objectives-empty">No sub-objectives found.</p>
          </ng-template>
        </p-dataview>
      </div>
      <div class="objective-main-tasks">
        <div class="objective-main-header">
          <h3>Taches</h3>
          <p-button size="small" variant="text" (click)="displayAddTask.set(!displayAddTask())">Ajouter</p-button>
        </div>
        @if (displayAddTask()) {
          <app-add-task [objectiveId]="id()" [optionsObjective]="optionsObjective()" (abort)="displayAddTask.set(false)"/>
        }
        <p-dataview #dv [value]="objective.tasks">
          <ng-template #list let-items>
            <ul class="objective-tasks">
              @for (item of items; track $index) {
                <li>
                  <div class="objective-task-title-and-checkbox">
                    <div>
                      <p-checkbox (click)="toogleTaskDone(item.id, item.done)" [ngModel]="item.done" [readonly]="true" [binary]="true"/>
                    </div>
                    <div class="objective-task-title-container">
                      <span (click)="editTask(item.id)" class="objective-task-title">{{ item.title }}</span>
                      <p class="objective-task-objective-title"> {{item.objectiveTitle}} </p>
                    </div>
                  </div>
                  <p-tag [value]="item.category" [severity]="item.primNgSeverity" [rounded]="true"/>
                </li>
              }
            </ul>
          </ng-template>
          <ng-template #emptymessage>
            <p class="objective-tasks-empty">No tasks found.</p>
          </ng-template>
        </p-dataview>
      </div>

      <app-chat [objectiveId]="id()" [objectifTitle]="objectiveOverview().title || 'Objectif inconnu'"/>
      <app-edit-objective [objectiveOverview]="objectiveOverview()"/>
      <app-edit-task [optionsObjective]="optionsObjective()" [taskViewModel]="taskToEdit()" (abort)="closeEditTask()"/>
      <app-edit-sub-objective [objectiveViewModel]="subObjectiveToEdit()" (abort)="closeEditSubObjective()"/>

    </main>


  </div>
}
