.shell {
  width: fit-content;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--p-content-background);
  box-shadow: var(--p-card-shadow);
  border-radius: 1.5rem;
}

.navigation {
  padding: 1.5rem;
}

.navigation-list {
  display: flex;
  gap: 2rem;
}

.navigation-list__item {
}


.app {
  width: 100vw;
  height: 100vh;
}

.app__content {
  padding: 2rem;
  height: 100%;
  width: 100%;
}
